.background-color-tigo{
  background-color: #426AB2;
}

.main-head{
  height: 150px;
  background: #FFF;
 
}

.login-main-text img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 18.5rem;
  height: 50%;
}

.login-main-text h4{
  color: #fff;
  font-size: 3.5rem;
  font-weight: 300;
  text-align: center;
  font-weight: bold;
}

.sidenav {
  height: 100%;
  overflow-x: hidden;
  padding-top: 20px;
}


.main {
  padding: 0px 10px;
  top: 156px;
  position: relative;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
  .login-form{
      margin-top: 10%;
  }

  .register-form{
      margin-top: 10%;
  }
}

@media screen and (min-width: 768px){
  .main{
      margin-left: 40%; 
  }

  .sidenav{
      width: 40%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
  }

  .login-form{
      margin-top: 80%;
  }

  .register-form{
      margin-top: 20%;
  }
}



